.btn {
    margin-top: 30px;
    width: max-content;
    align-self: left;
}

.container {
    background-color: #ededed;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}

#account-name {
    padding-top: 10px;
    font-size: medium;
}

#account-value {
    padding-top: 5%;
    font-size: x-large;
}

#accounts-overview {
    padding: 2%;
}

#account-buttons {
    margin-right: 3%;
    padding-right: 0%;
}

.list-group-item {
    max-width: 100%;
    padding-right: 0%;
}

#account-type-header {
    margin-top: 2%;
    margin-bottom: 3px;
}

.page-title {
    font-size: xx-large;
    margin-left: 2%;
    margin-top: auto;
}