<div class="card" style="width: 18rem;">
<!--temp, just for displaying that sevice works-->
  <div class="card-body">
    <input type='text' [(ngModel)]='getAccountByIdParams.accountId' name='id' /> {{getAccountByIdParams.accountId}}
    <a href="#" class="btn btn-primary" (click)='getAccountById()'>Get By Account ID</a>
    <p>{{reportAccount.accountId ? reportAccount.accountId : "Enter valid AccountID"}}</p>
  </div>

  <div class="card-body">
    <input type='text' [(ngModel)]='getAccountsByUserParams.userId' name='id' /> {{getAccountsByUserParams.userId}}
    <a href="#" class="btn btn-primary" (click)='getAccountsByUser()'>Get By User ID</a>
    <p>{{reportAccountList.length !== 0 ? reportAccountList : "Enter valid User ID"}}</p>
  </div>
</div>