<div class="chartjs-size-monitor"> 
    <canvas basechart="" class="chart chartjs-render-monitor" style="display: block; height: 300px; width: 357px;" width="374" height="314" id="_canvas-184f412415">
    </canvas>
</div>
<div>
    <p>CHART</p>
</div>
<div id="divChart">
    <apx-chart
  [series]="series"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>