<div class="container">
    <h1>Welcome to your dashboard!</h1>
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <h3>Net Worth</h3>
        <app-net-worth-graph [userId]="getTopByUserParams.userId"></app-net-worth-graph>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="col card text-white bg-success">
            <div class="card-header">Your Top Gainers</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li *ngFor="let inv of reportTopGainers" class="list-group-item">{{inv.investment.symbol}} : {{inv.change}}</li>
                </ul>
            </div>
        </div>
        <div class="col card text-white bg-danger">
            Top Losers
        </div>
    </div>
  </div>
</div>