<div class="card" id="insights-card">
        <div class="card-body">
            <div class="card-header">Insights</div>
            <div id="insights-list">
                <ul>
                <!--temp hardcoded-->
                <li> Compared to our baseline portfolio, you are underweight in: International stocks by 8.64%</li>
                <li> You are currently paying over $152.10 per year in fees for mutal funds and ETF's </li>
                <li> You are projected to pay over $1193.22 in 20 years in management fees for mutual funds and ETF's </li>
                </ul>
            </div>
        </div>
    </div>